<footer class="py-2 text-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between">
          <ul>
            <li><fa-icon [icon]="faPhoneAlt"></fa-icon><a href="tel:2038805888">(203) 880&ndash;5888</a></li>
            <li><fa-icon [icon]="faMapMarkerAlt"></fa-icon>431 Pepper St.</li>
            <li>Monroe, CT 06468</li>
          </ul>

          <ul>
            <li>Country Organics Inc.</li>
            <li>DBA Country Tick &amp; Mosquito</li>
            <li>B-1245 S-896</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
