<div class="container-fluid">
  <div class="row">
    <div class="main-c col-sm-12 col-md-6">
      <div class="description-text-wrapper">
        <div class="description-text about">
          <p>
            Paul Saltanis has over 40 years of experience dealing with outdoor
            pests. With four CT DEEP licenses and a Northeast Organic Land Care
            Accreditation, he has helped thousands of homeowners (along with
            several municipalities) to control their ticks and mosquitoes.
          </p>
          <p>
            Paul is deeply concerned about the environment. He understands the
            impact that pesticides can have, so he uses nothing but the safest
            possible products.
          </p>
          <p>
            Country Tick &amp; Mosquito is licensed to apply both organic and
            pesticide&ndash;based products to control ticks and mosquitoes,
            depending on your individual needs and preferences.
          </p>
          <p>
            We recommend our organic, pesticide&ndash;free treatments for those
            with small children, outdoor pets, or vegetable gardens. We use a
            combination of peppermint and cedar oils that kills ticks and
            mosquitoes on contact.
          </p>
          <p>
            If your property is near wooded areas or wetlands, or has a lot of
            wildlife such as deer, then we would suggest a pesticide&ndash;based program that
            would provide some residual control to keep ticks and mosquitoes
            from coming back.
          </p>
          <p>
            We have the equipment to do the job right! We have a large truck
            mounted spray system with two tanks. This gives us the option of
            using a variety of products. The high-power spray system provides
            superior coverage and penetrates the places these pests hide.
          </p>
          <p>Call us today for a free estimate!</p>
        </div>
      </div>
    </div>
    <div class="callout col-md-6 d-none d-md-block"></div>
  </div>
</div>
