body {
  background-color: rgb(75, 71, 71) !important;
  font-family: "Century Gothic", CenturyGothic, Arial, sans-serif !important;
}
body,
#wrapper {
  min-height: 100vh;
}
#wrapper {
  background-color: darken($color: #408502, $amount: 10);
}
