<div class="container-fluid">
  <div class="row">
    <div class="callout col-md-6 d-none d-md-block"></div>
    <div class="main-c col-sm-12 col-md-6">
      <div class="description-text home">
        <ul>
          <li>
            <span>SAFE SOLUTIONS</span>
            TO
          </li>
          <li>
            <span>PROTECT</span>
            YOUR
          </li>
          <li>
            <span>FAMILY</span>
            FROM
          </li>
          <li>
            <span>TICK</span>
            AND
            <span>MOSQUITO</span>
            BORNE DISEASES
          </li>
        </ul>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <img src="/assets/img/tick.png" /> Ticks can carry
                </h5>
                <ul>
                  <li>Lyme Disease</li>
                  <li>Rocky Mountain Spotted Fever</li>
                  <li>Powasson Virus</li>
                  <li>Anaplasmosis</li>
                  <li>Babesiosis</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <img src="/assets/img/mosquito.png" />Mosquitoes can carry
                </h5>
                <ul>
                  <li>West Nile Virus</li>
                  <li>Eastern Equine Encephalitis</li>
                  <li>La Crosse Virus</li>
                  <li>Trivittatus</li>
                  <li>Zika Virus</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <h3>We do free estimates!</h3>
      </div>
    </div>
  </div>
  <div class="home-btm row">
    <div class="col-md-3">
      <div class="card">
        <h5 class="card-header">
          <img src="/assets/img/organic.png" />Completely Organic
        </h5>
        <div class="card-body">
          <h5 class="card-title">Our organic program</h5>
          <p class="card-text">
            We use a completely natural combination of peppermint and cedar
            oils. These products kill both ticks and mosquitoes.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h5 class="card-header">
          <img src="/assets/img/proven.png" />Ecologically Safe
        </h5>
        <div class="card-body">
          <h5 class="card-title">Our proven program</h5>
          <p class="card-text">
            Our safe, proven program uses environmentally&ndash;safe products
            that won&rsquo;t harm your family, your pets or the environment.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">
          <img src="/assets/img/hands.png" />
          Why choose <span class="why-choose-short">Us</span
          ><span class="why-choose-long">Country Tick &amp; Mosquito</span>?
        </h5>
        <div class="card-body">
          <ul>
            <li>We are a family&ndash;owned local business</li>
            <li>We use all&ndash;natural organic products</li>
            <li>We are recognized industry experts</li>
            <li>We are both licensed &amp; accredited</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
